@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Chivo Mono', monospace;
}


/* NAVBAR */

a,
a:active,
a::after {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(251, 255, 0);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.479);
    padding: 1%;
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav-item {
    color: white;
}


/* LINKS */

.links {
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 1rem;
}

.links-item {
    margin: 0.5rem;
}


/* AUTORES */

.autores-info {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 2%;
}

#wrapper {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.479);
    border: 1rem solid rgba(0, 0, 0, 0);
    border-radius: 10%;
}

#wrapper img {
    height: 15rem;
    border-radius: 50%;
    transition: all 0.2s linear;
}

#wrapper img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

#wrapper h1 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.8;
}

#wrapper p {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1rem;
}


body {
    background-image: url(https://wallpapercave.com/wp/wp6005486.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    word-wrap: break-word;
}